body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin: 24px 0 0 0;
}

.screen {
    width: 100%;
    height: 98vh;
}

